<div class="technique sam" [class.submitted]="submitted()">
  <div class="helper-tech">{{ 'helpSam' | translate }}</div>
  <div class="data">
    <ion-list>
      @for (dimension of dimensions; track dimension.key) {
        <ion-item-divider>
          <ion-label class="sam-header">
            <span>{{ dimension.label }}</span>
            <span>{{ displayValue(dimension.key) }}</span>
          </ion-label>
        </ion-item-divider>

        <ion-item [class.no-validate]="isMissing(dimension.key)">
          <div style="width: 100%">
            <img
              class="sam-figure"
              [src]="'assets/img/sam/' + dimension.image + '.svg'"
              [alt]="dimension.label"
            />
            <ion-range
              [min]="0"
              [max]="8"
              [value]="4"
              [snaps]="true"
              [ticks]="true"
              [attr.aria-label]="dimension.label"
              (ionChange)="onChange(dimension.key, $any($event))"
            ></ion-range>
          </div>
        </ion-item>
      }
    </ion-list>
  </div>
</div>
