<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'titleLostPassword' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-list inset="true">
      <ion-item>
        <ion-input
          labelPlacement="stacked"
          formControlName="email"
          type="email"
          maxlength="45"
          autocomplete="email"
        >
          <div slot="label">
            {{ 'labelEmail' | translate }} <span class="required">*</span>
          </div>
        </ion-input>
      </ion-item>
    </ion-list>

    <div class="spacer"></div>
    <ion-button expand="block" type="submit">{{ 'buttonSend' | translate }}</ion-button>
    <div class="spacer"></div>
  </form>
</ion-content>
