<div class="technique affect-grid">
  <div class="helper-tech">{{ 'helpAffectGrid' | translate }}</div>
  <div class="data">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="351.182px" height="230.692px" viewBox="0 0 351.182 230.692" enable-background="new 0 0 351.182 230.692" xml:space="preserve">
      <g>
        <rect x="87.223" y="30.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="87.223" y="30.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="107.223" y="30.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="107.223" y="30.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="127.223" y="30.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="127.223" y="30.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="147.223" y="30.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="147.223" y="30.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="167.223" y="30.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="167.223" y="30.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="187.223" y="30.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="187.223" y="30.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="207.223" y="30.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="207.223" y="30.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="227.223" y="30.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="227.223" y="30.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="247.223" y="30.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="247.223" y="30.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="87.223" y="50.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="87.223" y="50.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="107.223" y="50.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="107.223" y="50.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="127.223" y="50.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="127.223" y="50.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="147.223" y="50.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="147.223" y="50.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="167.223" y="50.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="167.223" y="50.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="187.223" y="50.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="187.223" y="50.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="207.223" y="50.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="207.223" y="50.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="227.223" y="50.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="227.223" y="50.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="247.223" y="50.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="247.223" y="50.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="87.223" y="70.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="87.223" y="70.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="107.223" y="70.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="107.223" y="70.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="127.223" y="70.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="127.223" y="70.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="147.223" y="70.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="147.223" y="70.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="167.223" y="70.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="167.223" y="70.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="187.223" y="70.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="187.223" y="70.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="207.223" y="70.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="207.223" y="70.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="227.223" y="70.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="227.223" y="70.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="247.223" y="70.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="247.223" y="70.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="87.223" y="90.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="87.223" y="90.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="107.223" y="90.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="107.223" y="90.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="127.223" y="90.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="127.223" y="90.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="147.223" y="90.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="147.223" y="90.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="167.223" y="90.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="167.223" y="90.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="187.223" y="90.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="187.223" y="90.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="207.223" y="90.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="207.223" y="90.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="227.223" y="90.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="227.223" y="90.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="247.223" y="90.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="247.223" y="90.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="87.223" y="110.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="87.223" y="110.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="107.223" y="110.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="107.223" y="110.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="127.223" y="110.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="127.223" y="110.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="147.223" y="110.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="147.223" y="110.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="167.223" y="110.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="167.223" y="110.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="187.223" y="110.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="187.223" y="110.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="207.223" y="110.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="207.223" y="110.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="227.223" y="110.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="227.223" y="110.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="247.223" y="110.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="247.223" y="110.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="87.223" y="130.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="87.223" y="130.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="107.223" y="130.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="107.223" y="130.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="127.223" y="130.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="127.223" y="130.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="147.223" y="130.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="147.223" y="130.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="167.223" y="130.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="167.223" y="130.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="187.223" y="130.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="187.223" y="130.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="207.223" y="130.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="207.223" y="130.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="227.223" y="130.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="227.223" y="130.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="247.223" y="130.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="247.223" y="130.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="87.223" y="150.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="87.223" y="150.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="107.223" y="150.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="107.223" y="150.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="127.223" y="150.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="127.223" y="150.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="147.223" y="150.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="147.223" y="150.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="167.223" y="150.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="167.223" y="150.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="187.223" y="150.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="187.223" y="150.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="207.223" y="150.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="207.223" y="150.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="227.223" y="150.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="227.223" y="150.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="247.223" y="150.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="247.223" y="150.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="87.223" y="170.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="87.223" y="170.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="107.223" y="170.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="107.223" y="170.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="127.223" y="170.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="127.223" y="170.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="147.223" y="170.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="147.223" y="170.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="167.223" y="170.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="167.223" y="170.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="187.223" y="170.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="187.223" y="170.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="207.223" y="170.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="207.223" y="170.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="227.223" y="170.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="227.223" y="170.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="247.223" y="170.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="247.223" y="170.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="87.223" y="190.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="87.223" y="190.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="107.223" y="190.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="107.223" y="190.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="127.223" y="190.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="127.223" y="190.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="147.223" y="190.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="147.223" y="190.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="167.223" y="190.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="167.223" y="190.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="187.223" y="190.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="187.223" y="190.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="207.223" y="190.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="207.223" y="190.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="227.223" y="190.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="227.223" y="190.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <rect x="247.223" y="190.805" fill="#FFFFFF" width="20" height="20" />
        <rect x="247.223" y="190.805" fill="none" stroke="#1D1D1B" stroke-miterlimit="10" width="20" height="20" />
        <text transform="matrix(1 0 0 1 33.5078 24.2627)" fill="#1D1D1B" font-family="Arial" font-size="10">ESTRESSE</text>
        <text transform="matrix(1 0 0 1 0 124.333)" fill="#1D1D1B" font-family="Arial" font-size="10">DESAGRADÁVEL</text>
        <text transform="matrix(1 0 0 1 21.4844 227.6924)" fill="#1D1D1B" font-family="Arial" font-size="10">DEPRESSÃO</text>
        <text transform="matrix(1 0 0 1 143.7344 227.6924)" fill="#1D1D1B" font-family="Arial" font-size="10">SONOLÊNCIA</text>
        <text transform="matrix(1 0 0 1 165.0469 10.0439)" fill="#1D1D1B" font-family="Arial" font-size="10">ALTA</text>
        <text transform="matrix(1 0 0 1 148.7734 24.4502)" fill="#1D1D1B" font-family="Arial" font-size="10">EXCITAÇÃO</text>
        <text transform="matrix(1 0 0 1 274.5703 24.2627)" fill="#1D1D1B" font-family="Arial" font-size="10">EXCITAÇÃO</text>
        <text transform="matrix(1 0 0 1 274.5703 117.1299)" fill="#1D1D1B" font-family="Arial" font-size="10">SENTIMENTO</text>
        <text transform="matrix(1 0 0 1 276.7422 131.5283)" fill="#1D1D1B" font-family="Arial" font-size="10">AGRADÁVEL</text>
        <text transform="matrix(1 0 0 1 274.5703 227.6924)" fill="#1D1D1B" font-family="Arial" font-size="10">RELAXAMENTO</text>
      </g>
      <g>
        <rect x="87.223" y="30.805" fill="#036B77" width="20" height="20" role="button" (click)="select(1)" [attr.fill-opacity]="opacity(1)" />
        <rect x="107.223" y="30.805" fill="#036B77" width="20" height="20" role="button" (click)="select(2)" [attr.fill-opacity]="opacity(2)" />
        <rect x="127.223" y="30.805" fill="#036B77" width="20" height="20" role="button" (click)="select(3)" [attr.fill-opacity]="opacity(3)" />
        <rect x="147.223" y="30.805" fill="#036B77" width="20" height="20" role="button" (click)="select(4)" [attr.fill-opacity]="opacity(4)" />
        <rect x="167.223" y="30.805" fill="#036B77" width="20" height="20" role="button" (click)="select(5)" [attr.fill-opacity]="opacity(5)" />
        <rect x="187.223" y="30.805" fill="#036B77" width="20" height="20" role="button" (click)="select(6)" [attr.fill-opacity]="opacity(6)" />
        <rect x="207.223" y="30.805" fill="#036B77" width="20" height="20" role="button" (click)="select(7)" [attr.fill-opacity]="opacity(7)" />
        <rect x="227.223" y="30.805" fill="#036B77" width="20" height="20" role="button" (click)="select(8)" [attr.fill-opacity]="opacity(8)" />
        <rect x="247.223" y="30.805" fill="#036B77" width="20" height="20" role="button" (click)="select(9)" [attr.fill-opacity]="opacity(9)" />
        <rect x="87.223" y="50.805" fill="#036B77" width="20" height="20" role="button" (click)="select(10)" [attr.fill-opacity]="opacity(10)" />
        <rect x="107.223" y="50.805" fill="#036B77" width="20" height="20" role="button" (click)="select(11)" [attr.fill-opacity]="opacity(11)" />
        <rect x="127.223" y="50.805" fill="#036B77" width="20" height="20" role="button" (click)="select(12)" [attr.fill-opacity]="opacity(12)" />
        <rect x="147.223" y="50.805" fill="#036B77" width="20" height="20" role="button" (click)="select(13)" [attr.fill-opacity]="opacity(13)" />
        <rect x="167.223" y="50.805" fill="#036B77" width="20" height="20" role="button" (click)="select(14)" [attr.fill-opacity]="opacity(14)" />
        <rect x="187.223" y="50.805" fill="#036B77" width="20" height="20" role="button" (click)="select(15)" [attr.fill-opacity]="opacity(15)" />
        <rect x="207.223" y="50.805" fill="#036B77" width="20" height="20" role="button" (click)="select(16)" [attr.fill-opacity]="opacity(16)" />
        <rect x="227.223" y="50.805" fill="#036B77" width="20" height="20" role="button" (click)="select(17)" [attr.fill-opacity]="opacity(17)" />
        <rect x="247.223" y="50.805" fill="#036B77" width="20" height="20" role="button" (click)="select(18)" [attr.fill-opacity]="opacity(18)" />
        <rect x="87.223" y="70.805" fill="#036B77" width="20" height="20" role="button" (click)="select(19)" [attr.fill-opacity]="opacity(19)" />
        <rect x="107.223" y="70.805" fill="#036B77" width="20" height="20" role="button" (click)="select(20)" [attr.fill-opacity]="opacity(20)" />
        <rect x="127.223" y="70.805" fill="#036B77" width="20" height="20" role="button" (click)="select(21)" [attr.fill-opacity]="opacity(21)" />
        <rect x="147.223" y="70.805" fill="#036B77" width="20" height="20" role="button" (click)="select(22)" [attr.fill-opacity]="opacity(22)" />
        <rect x="167.223" y="70.805" fill="#036B77" width="20" height="20" role="button" (click)="select(23)" [attr.fill-opacity]="opacity(23)" />
        <rect x="187.223" y="70.805" fill="#036B77" width="20" height="20" role="button" (click)="select(24)" [attr.fill-opacity]="opacity(24)" />
        <rect x="207.223" y="70.805" fill="#036B77" width="20" height="20" role="button" (click)="select(25)" [attr.fill-opacity]="opacity(25)" />
        <rect x="227.223" y="70.805" fill="#036B77" width="20" height="20" role="button" (click)="select(26)" [attr.fill-opacity]="opacity(26)" />
        <rect x="247.223" y="70.805" fill="#036B77" width="20" height="20" role="button" (click)="select(27)" [attr.fill-opacity]="opacity(27)" />
        <rect x="87.223" y="90.805" fill="#036B77" width="20" height="20" role="button" (click)="select(28)" [attr.fill-opacity]="opacity(28)" />
        <rect x="107.223" y="90.805" fill="#036B77" width="20" height="20" role="button" (click)="select(29)" [attr.fill-opacity]="opacity(29)" />
        <rect x="127.223" y="90.805" fill="#036B77" width="20" height="20" role="button" (click)="select(30)" [attr.fill-opacity]="opacity(30)" />
        <rect x="147.223" y="90.805" fill="#036B77" width="20" height="20" role="button" (click)="select(31)" [attr.fill-opacity]="opacity(31)" />
        <rect x="167.223" y="90.805" fill="#036B77" width="20" height="20" role="button" (click)="select(32)" [attr.fill-opacity]="opacity(32)" />
        <rect x="187.223" y="90.805" fill="#036B77" width="20" height="20" role="button" (click)="select(33)" [attr.fill-opacity]="opacity(33)" />
        <rect x="207.223" y="90.805" fill="#036B77" width="20" height="20" role="button" (click)="select(34)" [attr.fill-opacity]="opacity(34)" />
        <rect x="227.223" y="90.805" fill="#036B77" width="20" height="20" role="button" (click)="select(35)" [attr.fill-opacity]="opacity(35)" />
        <rect x="247.223" y="90.805" fill="#036B77" width="20" height="20" role="button" (click)="select(36)" [attr.fill-opacity]="opacity(36)" />
        <rect x="87.223" y="110.805" fill="#036B77" width="20" height="20" role="button" (click)="select(37)" [attr.fill-opacity]="opacity(37)" />
        <rect x="107.223" y="110.805" fill="#036B77" width="20" height="20" role="button" (click)="select(38)" [attr.fill-opacity]="opacity(38)" />
        <rect x="127.223" y="110.805" fill="#036B77" width="20" height="20" role="button" (click)="select(39)" [attr.fill-opacity]="opacity(39)" />
        <rect x="147.223" y="110.805" fill="#036B77" width="20" height="20" role="button" (click)="select(40)" [attr.fill-opacity]="opacity(40)" />
        <rect x="167.223" y="110.805" fill="#036B77" width="20" height="20" role="button" (click)="select(41)" [attr.fill-opacity]="opacity(41)" />
        <rect x="187.223" y="110.805" fill="#036B77" width="20" height="20" role="button" (click)="select(42)" [attr.fill-opacity]="opacity(42)" />
        <rect x="207.223" y="110.805" fill="#036B77" width="20" height="20" role="button" (click)="select(43)" [attr.fill-opacity]="opacity(43)" />
        <rect x="227.223" y="110.805" fill="#036B77" width="20" height="20" role="button" (click)="select(44)" [attr.fill-opacity]="opacity(44)" />
        <rect x="247.223" y="110.805" fill="#036B77" width="20" height="20" role="button" (click)="select(45)" [attr.fill-opacity]="opacity(45)" />
        <rect x="87.223" y="130.805" fill="#036B77" width="20" height="20" role="button" (click)="select(46)" [attr.fill-opacity]="opacity(46)" />
        <rect x="107.223" y="130.805" fill="#036B77" width="20" height="20" role="button" (click)="select(47)" [attr.fill-opacity]="opacity(47)" />
        <rect x="127.223" y="130.805" fill="#036B77" width="20" height="20" role="button" (click)="select(48)" [attr.fill-opacity]="opacity(48)" />
        <rect x="147.223" y="130.805" fill="#036B77" width="20" height="20" role="button" (click)="select(49)" [attr.fill-opacity]="opacity(49)" />
        <rect x="167.223" y="130.805" fill="#036B77" width="20" height="20" role="button" (click)="select(50)" [attr.fill-opacity]="opacity(50)" />
        <rect x="187.223" y="130.805" fill="#036B77" width="20" height="20" role="button" (click)="select(51)" [attr.fill-opacity]="opacity(51)" />
        <rect x="207.223" y="130.805" fill="#036B77" width="20" height="20" role="button" (click)="select(52)" [attr.fill-opacity]="opacity(52)" />
        <rect x="227.223" y="130.805" fill="#036B77" width="20" height="20" role="button" (click)="select(53)" [attr.fill-opacity]="opacity(53)" />
        <rect x="247.223" y="130.805" fill="#036B77" width="20" height="20" role="button" (click)="select(54)" [attr.fill-opacity]="opacity(54)" />
        <rect x="87.223" y="150.805" fill="#036B77" width="20" height="20" role="button" (click)="select(55)" [attr.fill-opacity]="opacity(55)" />
        <rect x="107.223" y="150.805" fill="#036B77" width="20" height="20" role="button" (click)="select(56)" [attr.fill-opacity]="opacity(56)" />
        <rect x="127.223" y="150.805" fill="#036B77" width="20" height="20" role="button" (click)="select(57)" [attr.fill-opacity]="opacity(57)" />
        <rect x="147.223" y="150.805" fill="#036B77" width="20" height="20" role="button" (click)="select(58)" [attr.fill-opacity]="opacity(58)" />
        <rect x="167.223" y="150.805" fill="#036B77" width="20" height="20" role="button" (click)="select(59)" [attr.fill-opacity]="opacity(59)" />
        <rect x="187.223" y="150.805" fill="#036B77" width="20" height="20" role="button" (click)="select(60)" [attr.fill-opacity]="opacity(60)" />
        <rect x="207.223" y="150.805" fill="#036B77" width="20" height="20" role="button" (click)="select(61)" [attr.fill-opacity]="opacity(61)" />
        <rect x="227.223" y="150.805" fill="#036B77" width="20" height="20" role="button" (click)="select(62)" [attr.fill-opacity]="opacity(62)" />
        <rect x="247.223" y="150.805" fill="#036B77" width="20" height="20" role="button" (click)="select(63)" [attr.fill-opacity]="opacity(63)" />
        <rect x="87.223" y="170.805" fill="#036B77" width="20" height="20" role="button" (click)="select(64)" [attr.fill-opacity]="opacity(64)" />
        <rect x="107.223" y="170.805" fill="#036B77" width="20" height="20" role="button" (click)="select(65)" [attr.fill-opacity]="opacity(65)" />
        <rect x="127.223" y="170.805" fill="#036B77" width="20" height="20" role="button" (click)="select(66)" [attr.fill-opacity]="opacity(66)" />
        <rect x="147.223" y="170.805" fill="#036B77" width="20" height="20" role="button" (click)="select(67)" [attr.fill-opacity]="opacity(67)" />
        <rect x="167.223" y="170.805" fill="#036B77" width="20" height="20" role="button" (click)="select(68)" [attr.fill-opacity]="opacity(68)" />
        <rect x="187.223" y="170.805" fill="#036B77" width="20" height="20" role="button" (click)="select(69)" [attr.fill-opacity]="opacity(69)" />
        <rect x="207.223" y="170.805" fill="#036B77" width="20" height="20" role="button" (click)="select(70)" [attr.fill-opacity]="opacity(70)" />
        <rect x="227.223" y="170.805" fill="#036B77" width="20" height="20" role="button" (click)="select(71)" [attr.fill-opacity]="opacity(71)" />
        <rect x="247.223" y="170.805" fill="#036B77" width="20" height="20" role="button" (click)="select(72)" [attr.fill-opacity]="opacity(72)" />
        <rect x="87.223" y="190.805" fill="#036B77" width="20" height="20" role="button" (click)="select(73)" [attr.fill-opacity]="opacity(73)" />
        <rect x="107.223" y="190.805" fill="#036B77" width="20" height="20" role="button" (click)="select(74)" [attr.fill-opacity]="opacity(74)" />
        <rect x="127.223" y="190.805" fill="#036B77" width="20" height="20" role="button" (click)="select(75)" [attr.fill-opacity]="opacity(75)" />
        <rect x="147.223" y="190.805" fill="#036B77" width="20" height="20" role="button" (click)="select(76)" [attr.fill-opacity]="opacity(76)" />
        <rect x="167.223" y="190.805" fill="#036B77" width="20" height="20" role="button" (click)="select(77)" [attr.fill-opacity]="opacity(77)" />
        <rect x="187.223" y="190.805" fill="#036B77" width="20" height="20" role="button" (click)="select(78)" [attr.fill-opacity]="opacity(78)" />
        <rect x="207.223" y="190.805" fill="#036B77" width="20" height="20" role="button" (click)="select(79)" [attr.fill-opacity]="opacity(79)" />
        <rect x="227.223" y="190.805" fill="#036B77" width="20" height="20" role="button" (click)="select(80)" [attr.fill-opacity]="opacity(80)" />
        <rect x="247.223" y="190.805" fill="#036B77" width="20" height="20" role="button" (click)="select(81)" [attr.fill-opacity]="opacity(81)" />
      </g>
    </svg>
  </div>
</div>
